*{
    margin: 0;
    padding: 0;  
}
#banner{
    background: black;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 5px;
}

.banner-text p{
    font-size: 25px;
    font-family: Verdana;
    font-style: oblique;
    margin-top: 10px;
    margin-bottom: 50px;
}





.rainbow{
    animation: rainbow 0.5s linear;
    animation-iteration-count: infinite;
}
  
@keyframes rainbow{
        100%,0%{
            color: rgb(255,0,0);
        }
        8%{
            color: rgb(255,127,0);
        }
        16%{
            color: rgb(255,255,0);
        }
        25%{
            color: rgb(127,255,0);
        }
        33%{
            color: rgb(0,255,0);
        }
        41%{
            color: rgb(0,255,127);
        }
        50%{
            color: rgb(0,255,255);
        }
        58%{
            color: rgb(0,127,255);
        }
        66%{
            color: rgb(0,0,255);
        }
        75%{
            color: rgb(127,0,255);
        }
        83%{
            color: rgb(255,0,255);
        }
        91%{
            color: rgb(255,0,127);
        }
  }
